OPENAI_API_KEY=""
HUGGING_FACE_API_KEY=""

LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT="https://api.smith.langchain.com"
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""

NUM_HISTORY_MESSAGES=5
NUM_RETRIEVAL_CHUNKS=3

POSTGRES_DB_URI="postgresql://postgres:postgres@localhost:5432/checkpoint_lgraph?sslmode=disable"

QDRANT_API_KEY="<only for cloud qdrant instance>"
